body{
margin:0;
padding:0;
font-family:Arial;
background:#f2f2f2;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.input-panel{
width:350px;
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 0 15px rgba(0,0,0,0.2);
}

h2{
text-align:center;
color:#c40000;
margin-bottom:20px;
}

input{
width:100%;
padding:12px;
margin-bottom:12px;
border:1px solid #ccc;
border-radius:6px;
font-size:14px;
box-sizing:border-box;
}

button{
width:100%;
padding:12px;
border:none;
background:#c40000;
color:white;
font-size:16px;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#900000;
}

.car-block{
border:1px solid #ddd;
padding:12px;
margin-bottom:15px;
border-radius:8px;
background:#fafafa;
}

.car-block h3{
margin-top:0;
color:#c40000;
}

.delete-btn{
width:100%;
margin-top:10px;
background:#444;
}

.delete-btn:hover{
background:black;
}

.car-block{
position:relative;
border:1px solid #ddd;
padding:15px;
margin-bottom:15px;
border-radius:10px;
background:#fafafa;
}

.delete-icon{
position:absolute;
top:10px;
right:12px;
font-size:20px;
cursor:pointer;
transition:0.2s;
}

.delete-icon:hover{
transform:scale(1.15);
}

.add{
    margin-bottom: 30px;
}