:root{

    --primary:#DC2626;
    --primary-hover:#B91C1C;

    --sidebar:#111827;
    --sidebar-hover:#1F2937;

    --background:#F8FAFC;

    --surface:#FFFFFF;

    --border:#E5E7EB;

    --text:#111827;

    --text-light:#6B7280;

    --success:#16A34A;
    --warning:#D97706;
    --danger:#DC2626;

    --shadow:0 10px 30px rgba(0,0,0,.05);

    --radius:16px;

}