:root{

    --primary:#B71C1C;

    --sidebar:#1E1E2F;

    --background:#F5F7FA;

    --card:#FFFFFF;

    --text:#1E1E2F;

    --border:#E5E7EB;

    --success:#22C55E;

    --warning:#F59E0B;

    --danger:#EF4444;

    --radius:16px;

}